@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #0b0b0b;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::selection {
  background: #2563eb;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
